{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
<div class="font_size top">
    <h1 class="center">À propos</h1>
    <p class="center">
        Artiste peintre et développeur web ,ce site est pour moi un excelent moyen de m'éxercer au développement.
    </p>
    <p class="center">
        C'est donc tout naturellement et ce malgré la conjoncture à l'atmosphère plutôt pesante, que l'idée de ce site m'est venue.
    </p>
    </div>
{% endblock %}