{% extends '@SyliusShop/layout.html.twig' %}


{% block content %}
	<div class="font_size top">
		<h1 class="center white">Conditions genérales de vente</h1>
		<p class="center white">Les conditions générales de ventes ci-dessous se définissent
			entre d’une part l’entreprise : Eric Delangle domicilié 2 chemin de la carrière – 76500 Elbeuf
			et d’autre part le client : toute personne réalisant un acte d’achat sur le site ideemasque.fr
		</p>
		<p class="center white">
			<strong class="center">ARTICLE 1 : OBJET</strong>
			<:br>

				Les présentes conditions générales de vente s’appliquent à toute commande effectuée par un consommateur, au sens de la Directive européenne n° 2011/83/UE du 25 octobre 2011, s’agissant des produits proposés à la vente sur le site www.ideemasque.fr par :
				
				Mr Eric Delangle
				Raison sociale : eric delangle (Auto-entrepreneur)
				Identifiant SIRET : 
				Responsable éditorial : Eric Delangle
				2 chemin de la carrière 76500 Elbeuf
				Téléphone : 07 68 82 97 53
				Email : info@ideemasque.fr
				
				TVA non applicable, article 293B du CGI
				
				Le site www.ideemasque.fr est hébergé par la société LWS.
				
				Le site www.ideemasque.fr est développé par Eric Delangle, via le framework Sylius.
				
				Le site ideemasque.fr est destiné à la vente de masques anti covid personnalisés .</p>
		</p>
		<p class="center white">
			<strong class="center">Article 2 : DISPOSITIONS GÉNÉRALES</strong>
		</p>
	</br>

	Le site est la propriété de Eric Delangle® en sa totalité, ainsi que les droits y afférents. Toute reproduction intégrale ou partielle est obligatoirement soumise à l’accord préalable et écrit à Eric Delangle®.
	
	Les présentes conditions générales de vente déterminent les relations entre Eric Delangle® et les clients qui souhaitent réaliser un achat sur le site.
	
	L’ensemble des conditions générales de ventes présentes ci-dessous s’appliquent à la vente de la totalité des accessoires, vêtements et décorations textiles sous la marque ideemasque® et vendus sur le site www.ideemasque.fr. Chaque commande, entraine l’application automatique de l’ensemble de ces conditions. Le client reconnait avoir pris connaissance des présentes conditions générales de vente au moment de la passation de la commande. Il déclare explicitement les accepter sans réserve.
	
	Les photos des produits présentes sur le site sont des documents non contractuels et n’engagent pas la responsabilité de Eric Delangle®.
	
	A tout moment, les présentes conditions générales de ventes, peuvent évoluer, lorsqu’une commande est établie, les conditions générales valables sont celles en vigueur. En cas de maintenance, ou de congés, Eric Delangle® s’octroie le droit de fermer le site.
</p>
<p class="center white">
	<strong class="center">Article 3 : PRIX DE VENTE</strong>
</p></br>Les prix des produits sont des prix nets en euros, exonérés de TVA selon l’article 293B du code général des impôts. Ils tiennent compte des éventuelles réductions applicables au jour de la commande.

Les prix des produits s’entendent hors frais de livraison (port, emballage et confection du colis selon montants en vigueur). Le montant des frais de livraison sera précisé dans le panier du client, avant validation définitive de la commande. L’intégralité du paiement doit être réalisé lors de la commande. À aucun moment, les sommes versées ne pourront être considérées comme des arrhes ou des acomptes. Eric Delangle® se réserve le droit de modifier ses prix à tout moment. Toutefois, le prix figurant sur le site le jour de la commande sera le prix applicable.

Si une ou plusieurs taxes ou contributions, notamment environnementales, venaient à être créées ou modifiées, en hausse comme en baisse, ce changement pourra être répercuté sur le prix de vente des produits présents sur le site internet et sur les différents supports de vente à tout moment et sans préavis. Toutefois un prix ne pourra pas être modifié une fois la commande du client validée.

L’affichage d’un prix erroné ne pourra pas lier Eric Delangle®, quelle qu’en soit la raison (erreur manuelle, bug informatique ou erreur technique). Le client sera informé dans les plus brefs délais par Eric Delangle®. De ce fait, la commande sera automatiquement annulée.

Un système de codes promotionnels sera mis en place par Eric Delangle®. Ceux-ci ne pourront être conçus que par Eric Delangle. Les codes promotionnels, ne seront pas applicables sur les produits déjà en promotions (soldes, fin de série, ancienne collection, etc…). Tout code répandu sur internet, ne provenant pas de Eric Delangle® et n’ayant pas sa validation, ne mettra pas en cause la responsabilité de Eric Delangle®.</p><p class="center white"><strong class="center">Article 4 : COMMANDE</strong></p></br>Afin de passer sa commande en toute tranquillité, le client reconnait avoir pris connaissance de la nature, la destination et les modalités d’utilisation des produits mis en vente sur le site.
	
	Pour passer commande il vous sera obligatoirement demandé de créer un compte client et d’enregistrer vos données personnelles.
	
	Au moment de la commande vous devrez :
	• Vérifier le contenu du panier
	• Effectuer le paiement dans les conditions prévues
	
	La validation de la commande vaut signature et vous oblige à payer la totalité du prix indiqué.
	
	Le consommateur reconnaît être parfaitement informé du fait que son accord concernant le contenu des présentes conditions générales ne nécessite pas de signature manuscrite. Toute commande validée par le consommateur sur le site, implique de fait l’acceptation préalable des présentes conditions générales.
	
	Les systèmes d’enregistrement électroniques sont considérés comme valant preuve de la nature, du contenu et de la date de la commande.
	
	Suite à un litige concernant le paiement d’une commande antérieure, Eric Delangle® s’accorde le droit d’annuler toute commande de ce même client.
	
	L’acheteur s’engage, concernant les informations indiquées, lors de la prise de la commande. En cas d’erreur ou d’omission dans le renseignement des coordonnées (adresse postale, e-mail, numéro de téléphone). Eric Delangle® ne pourra être tenue pour responsable de l’impossibilité de livrer la commande. Néanmoins la commande reste maintenue.
	
	Toute commande ne sera prise en considération qu’après acceptation du paiement. La confection des articles sur commande se fera qu’à réception du règlement. Afin de suivre l’avancé et le statut de votre livraison, un mail de confirmation d’expédition vous sera envoyé dès l’expédition de la commande.</p><p class="center white"><strong class="center">Article 5 : DISPONIBILITÉ</strong></p></br>Les produits proposés sont ceux visibles sur le site www.ideemasque.fr et dans le limite des stocks disponibles.
	
	En cas d’indisponibilité de produit après passation de votre commande, nous vous en informerons par mail. Votre commande sera automatiquement annulée et aucun débit bancaire ne sera effectué.</p><p class="center white"><strong class="center">Article 6 : PAIEMENT</strong></p></br>Le prix de vente est payable au comptant, le jour de la commande effective.
	
	Une fois la commande enregistrée, l’intégralité du montant de celle-ci devra être réglée par le client. Après réception du règlement et validation de la banque, la commande vous sera envoyée.
	
	Le règlement de vos commandes peut s’effectuer selon les modalités suivantes :
	• Carte Bancaire, via notre partenaire Stripe
	• PayPal, via la plateforme PayPal.
	
	La commande sera automatiquement annulée en cas de refus de paiement. Un mail sera envoyé au client pour lui indiquer la situation.</p><p class="center white"><strong class="center">Article 7 : LIVRAISON</strong></p></br>Eric Delangle®, ne fait livrer ses produits qu’en France métropolitaine. Les frais de port sont payant jusqu’à un certain montant d’achat. Le prix d’envoi est calculé en fonction de votre choix de livraison.
	
	Eric Delangle® fait appel à deux transporteur, La Poste et UPS. En cas d’erreurs ou d’informations incomplètes concernant l’adresse de livraison que vous nous aurez indiquée,Eric Delangle® écarte toute responsabilité en cas de retard ou d’absence de livraison.
	
	Les produits sont livrés dans un délai de 5 à 8 jours,.
	
	Les délais de livraison peuvent varier en cas de difficultés d’acheminement, de rupture de stocks ou périodes de vacances qui seront alors signalés par courrier électronique au client et/ou sur la page d’accueil de la boutique. Les jours ouvrables ne comprennent pas les week-end et jours fériés.
	
	En cas de marchandises manquantes ou détériorées, le client devra formuler toutes les réserves nécessaires sur le bon de livraison à réception des dites marchandises. Ces réserves devront être, transmises par mail (info@ideemasque.fr) dans les cinq jours suivant la livraison, avec photos à l’appui.
	
	En cas d’impossibilité de livrer dû à des évènements indépendants de notre volonté, nous nous mobiliserons pour régler la situation dans les plus bref délais. En revanche, en cas de force majeure, le vendeur est déchargé de son obligation de livrer (catastrophe naturelle, grève, accidents, impossibilité d’être approvisionné, attentat, guerre, émeute et incendie).
	
	Eric Delangle® se décharge de toutes responsabilités en cas de perte, vol ou retard de la livraison de la commande.
	
	Eric Delangle® se réserve le droit d’utiliser tout autre moyen de livraison dans le respect des délais et frais prévus. </p> <p class="center white"><strong class="center">Article 8 : RÉTRACTATION & RETOUR</strong> </p></br>Conformément aux dispositions de l’article L. 121‐21 du Code de la Consommation, vous disposez d’un délai de rétractation de sept (7) jours à compter de la réception de vos articles pour exercer votre droit de rétractation sans avoir à justifier de motifs ni à payer de pénalité. Si le délai de sept (7) jours expire un samedi, dimanche ou jour férié, la période est prolongée jusqu’au premier jour ouvrable suivant. Passé ce délai, la demande de remboursement ou d’échange de produit sera impossible.
	
	Si le client ne souhaite pas garder les articles ou l’article livré, il devra le renvoyer à l’adresse suivante : Eric Delangle 2 chemin de la carrière 76500 Elbeuf. Les frais de retour seront à la charge du client.
	
	Les produits ayant été endommagés, perforés, salis, déchirés, brûlés, décolorés et déformés, ne pourront être remboursés. Les articles devront être restitués dans leur ensemble (emballage d’origine, logo, étiquette de marque…)
	
	En cas de rétractation dans le délai de 7 jours, Eric Delangle® remboursera les produits retournés dans un délai de trente (30) jours, au plus tard, à compter de la réception des articles en retour, et sous réserve de l’état des articles retournés.
	
	Vous disposez de quatres solutions pour le remboursement :
	- Le remboursement par PayPal (pour les achats par Paypal, le client devra prendre en charge les frais PayPal)
	- Le remboursement par Stripe (pour les achats par CB, le client devra prendre en charge les frais Stripe)
	
	
	Pour toutes réclamations, n’hésitez pas à me contacter par mail : info@ideemasque.fr</p><p class="center white"><strong class="center">Article 9 : RESPONSABILITÉ & GARANTIE</strong></p></br>Afin d’acquérir satisfaction du client, Eric Delangle® est dans l’obligation de livrer un produit conforme à la description. Tous nos articles, sont assemblés et confectionnés en France .
	
	La responsabilité de Eric Delangle® ne saurait être engagée en cas de mauvaise utilisation du produit acheté.
	
	La responsabilité de Eric Delangle® ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l’utilisation du site internet, du réseau internet, notamment une rupture de service, une intrusion extérieure ou la présence de virus informatiques ou programmes malveillants.
	
	Eric Delangle® s’efforce de satisfaire les demandes et les commandes du client. Cependant, Eric Delangle® n’est pas tenu d’accepter toutes les commandes et ne peut voir sa responsabilité engagée à l’égard du client en cas de retard de livraison ou de non disponibilité temporaire ou permanente de produits.</p><p class="center white"><strong class="center">Article 10 : PROPRIÉTÉ</strong></p></br>Jusqu’au paiement effectif et intégral du prix Eric Delangle® reste propriétaire des articles vendus. Le complet règlement vaut transfert de propriété, toutefois vous devenez responsable des articles dès l’expédition.</p><p class="center white"><strong class="center">Article 11 : PROPRIÉTÉ INTELLECTUELLE</strong></p></br>Tous les éléments du site ideemasque.fr sont et restent la propriété intellectuelle exclusive de Eric Delangle®. Nul n’est autorisé à reproduire, exploiter, rediffuser ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site. Tout lien simple ou hypertexte doit être autorisé par un accord écrit de Mademoiselle Swan®.</p><p class="center white"><strong class="center">Article 12 : LES PRODUITS</strong></p></br>Eric Delangle® s’efforce de proposer les photos de ses articles, reflétant le plus fidèlement possible la réalité. Mais celles-ci ne sont pas contractuelles.</p><p class="center white"><strong class="center">Article 13 : DONNÉES PERSONNELLES</strong></p></br>Le client dispose d’un droit d’accès, de modification, de rectification, de suppression des données le concernant (article 34 de la loi de 1978) qu’il peut exercer auprès de Eric Delangle en envoyant un mail à info@ideemasque.fr.</p><p class="center white"><strong class="center">Article 14 : COOKIES</strong></p></br>Ceci est la politique en matière de cookies pour Eric Delangle, accessible à l'adresse https://www.ideemasque.fr
	
	Que sont les cookies?
	
	Comme il est de pratique courante dans presque tous les sites Web professionnels, ce site utilise des cookies, qui sont de minuscules fichiers téléchargés sur votre ordinateur, pour améliorer votre expérience. Cette page décrit quelles informations ils collectent, comment nous les utilisons et pourquoi nous avons parfois besoin de stocker ces cookies. Nous vous expliquerons également comment vous pouvez empêcher le stockage de ces cookies.
	
	Pour plus d'informations générales sur les cookies, vous pouvez consulter l'article de Wikipedia sur les cookies HTTP.
	
	Comment nous utilisons les cookies
	
	Nous utilisons des cookies pour diverses raisons détaillées ci-dessous. Malheureusement, dans la plupart des cas, il n’existe pas d’option standard de l’industrie pour la désactivation des cookies sans la désactivation complète des fonctionnalités ajoutées à ce site. Il est recommandé de laisser tous les cookies si vous ne savez pas si vous en avez besoin ou non, s'ils sont utilisés pour fournir un service que vous utilisez.
	
	Désactiver les cookies
	
	Vous pouvez empêcher l'installation de cookies en ajustant les paramètres de votre navigateur (consultez l'aide de votre navigateur pour savoir comment faire). Sachez que la désactivation des cookies affectera les fonctionnalités de ce site et de nombreux autres sites Web que vous visitez.
	
	Les cookies que nous avons mis en place :
	Cookies liés au compte
	
	Si vous créez un compte chez nous, nous utiliserons des cookies pour la gestion du processus d'inscription et l'administration générale. Ces cookies sont généralement supprimés lorsque vous vous déconnectez. Cependant, dans certains cas, ils peuvent rester après pour mémoriser les préférences de votre site lorsque vous vous déconnectez.
	
	Cookies liés à la connexion
	
	Nous utilisons des cookies lorsque vous êtes connecté afin de pouvoir nous en souvenir. Cela vous évite d'avoir à vous connecter chaque fois que vous visitez une nouvelle page. Ces cookies sont généralement supprimés ou effacés lorsque vous vous déconnectez pour vous assurer que vous ne pouvez accéder qu'aux fonctions et zones restreintes une fois connectés.
	
	Traitement des cookies liés aux commandes
	
	Ce site offre des possibilités de commerce électronique ou de paiement. Certains cookies sont essentiels pour assurer le suivi de votre commande entre les pages afin que nous puissions la traiter correctement.
	
	Formulaires liés aux cookies
	
	Lorsque vous soumettez des données via un formulaire tel que celles trouvées sur les pages de contact ou les formulaires de commentaires, les cookies peuvent être configurés pour mémoriser les informations de votre utilisateur pour une correspondance ultérieure.
	
	Les cookies tiers
	
	Dans certains cas particuliers, nous utilisons également des cookies fournis par des tiers de confiance. La section suivante détaille les cookies tiers que vous pourriez rencontrer via ce site.
	Ce site utilise Google Analytics, l’une des solutions d’analyse les plus répandues et les plus fiables sur le Web, qui nous aide à comprendre comment vous utilisez le site et comment nous pouvons améliorer votre expérience. Ces cookies peuvent suivre des choses telles que le temps que vous passez sur le site et les pages que vous visitez, afin que nous puissions continuer à produire un contenu attrayant. Pour plus d'informations sur les cookies Google Analytics, voir la page officielle de Google Analytics.
	
	De temps en temps, nous testons de nouvelles fonctionnalités et apportons des modifications subtiles à la manière dont le site est livré. Lorsque nous testons encore de nouvelles fonctionnalités, ces cookies peuvent être utilisés pour vous garantir une expérience cohérente lorsque vous vous trouvez sur le site, tout en garantissant la compréhension des optimisations les plus appréciées par nos utilisateurs.
	
	Nous utilisons également des boutons de médias sociaux et / ou des plugins sur ce site qui vous permettent de vous connecter à votre réseau social de différentes manières. Pour que ces sites fonctionnent, les sites de médias sociaux suivants, notamment: Facebook, Google et Paypal, installera des cookies sur notre site, qui pourront être utilisés pour améliorer votre profil sur leur site ou pour contribuer aux données qu'ils détiennent à des fins diverses décrites dans leur politique de confidentialité respective.
	
	Plus d'information
	
	Espérons que cela clarifie les choses pour vous et comme cela a été mentionné précédemment, si vous ne savez pas vraiment si vous avez besoin de quelque chose, il est généralement plus prudent de laisser les cookies activés au cas où ils interagiraient avec l'une des fonctionnalités utilisées sur notre site.</p><p class="center white"><strong class="center">Article 15 : LÉGISLATION APPLICABLE ET JURIDICTION COMPÉTENTE</strong></p></br>En cas de difficultés dans l’application des présentes conditions générales de vente, nous vous invitons à rechercher une solution amiable en prenant contact avec nous.
	
	 Eric Delangle
	2 chemin de la carrière – 76500 Elbeuf
	Email : info@ideemasque.fr
	Téléphone : 07 68 82 97 53
	
	Le présent contrat est soumis à la législation française. Tout litige survenu dans le cadre de l’exécution ou de l’interprétation du présent contrat sera porté devant la juridiction du tribunal de Rouen(76).</p></div>{% endblock %}
