<div class="ui center aligned inverted basic segment">
    <p class="font_size">&copy; {{ 'sylius.ui.your_store'|trans }}, {{ 'sylius.ui.powered_by'|trans }} <a href="https://ericdelangle.fr/" target="_blank" style="color: #a4eaee;">ericdelangle.fr</a>.</p>
    {#<a target="_blank" href="//facebook.com/SyliusEcommerce/"><i class="big black facebook icon"></i></a>
    <a target="_blank" href="//instagram.com/sylius.team/"><i class="big black instagram icon"></i></a>
    <a target="_blank" href="//twitter.com/sylius"><i class="big black twitter card icon"></i></a>#}
</div>
